<% layout('layouts/boilerplate') %>
    <div class="container d-flex justify-content-center align-items-center mb-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.squarespace-cdn.com/content/v1/520542b0e4b0cc1763c00169/1471984071147-QU4AH82GJKY2TYAQU5H1/ke17ZwdGBToddI8pDm48kJUlZr2Ql5GtSKWrQpjur5t7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UfNdxJhjhuaNor070w_QAc94zjGLGXCa1tSmDVMXf8RUVhMJRmnnhuU1v2M8fLFyJw/1090_BEMOCS_REI_2.jpg?format=1500w"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required autofocus>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">Register</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>